extends ../layout

block content
  div.watch-video
    video(src="/" + video.videoUrl)
    div
      button#play Play
      button#mute Mute
      input#volume(type="range", name="volume", step="0.1", value="0.5", min="0", max="1")
      div 
        span#currentTime 00:00:00
        span  / 
        span#totalTime 00:00:00
      div 
        input#timeline(type="range", name="timeline", step="1", value="0", min="0")
    span.watch-video__title=video.title
    div.watch-video__data
      img(src= "/" + video.owner.avatarUrl).watch-video__img
      div.watch-video__text
        a(href=`/users/${video.owner._id}`) #{video.owner.name}
        small #{video.meta.views}회 • #{video.createdAt}
    div.watch-video__meta
      p=video.description
  //- h3 #{video.views} #{video.views === 1 ? "view" : "views"}
  //- ternary operator
  if !loggedIn
  else if String(loggedInUser._id) === String(video.owner._id)
    div.video-link
      a(href=`${video.id}/edit`) 비디오 편집 &rarr;
      //- href 앞머리에 /를 넣으면 root + /edit으로 가게 됨(absolute url). 앞머리에 /가 없다면 relative url이 됨.
      a(href=`${video.id}/delete`).video-link__delete 비디오 삭제 &rarr;

block scripts 
  script(src="/assets/js/videoPlayer.js")